


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.listPrnt{
  listStyleType: none ;
   width: 60% ;
    paddingLeft: 1% ;
    animationName: slideList ;
    animationDuration: 5s ; 
    animationFillMode: forward;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headerStyle {
  background-color: #000000;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 15%;

}

.headertitle {
  color: white;
  width: auto;
  height: 20%;
  position: relative;
  top: 40%;
  margin: 0%;
  padding-left: 0%;
  transition: width 2s;
  animation-name: moveTitle;
  animation-duration: 3s;
  animation-fill-mode: forwards;

}




@keyframes slideList {
  from {margin-left: 100%;}
  to {margin-left: 0%;}
}
.listId {
  text-decoration: none;
  
  display: block;
  position: relative;
  left: 0%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
}

.listId:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.descPnl {
  position: absolute ;
   top: 15% ;
}

.dispListTitle{
color: black;
}

.dispListAuth{
color: slategray;
}


#backpnl{

  background-color: red;

}

